<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button *ngIf="false" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span style="margin-left: 10px">Hệ thống đăng ký tín chỉ</span>
    
    <span class="example-spacer"></span>

    <button *ngIf="currentUser" mat-stroked-button matTooltip="Thông tin người dùng">
      <mat-icon>account_box</mat-icon> {{currentUser.name + ' (' + getPosition() + ')'}}
    </button>
    
    <button *ngIf="currentUser" (click)="logout()" mat-icon-button matTooltip="Đăng xuất">
      <mat-icon>login</mat-icon>
    </button>

    <button *ngIf="!currentUser" (click)="login()" mat-icon-button matTooltip="Đăng nhập">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item *ngFor="let nav of fillerNav">
          <a *ngIf="currentUser" mat-list-item (click)="selectNavItem(nav)" >{{nav.name}}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
